* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.top {
    height: 768px;
    background: linear-gradient(0deg, #ebf3fb 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.text__project {
    width: 75%;
    margin: 32px auto 64px;
    color: #222222;
    opacity: 1;
    text-align: center;
}

.top__box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top__info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/top-back.svg);
    background-repeat: no-repeat;
    background-position: right center;
}

.top__haeding {
    width: 510px;
    font-size: 64px;
    font-weight: 300;
    color: #1f3f68;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.top__button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #5a98d0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}

.contact {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.what {
    padding-top: 64px;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}

.heading-mini {
    font-size: 20px;
    line-height: 30px;
    color: #1f3f68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}

.card__link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5a98d0;
    text-decoration: none;
}

.input-fields {
    border: 1px solid #356ead;
    box-sizing: border-box;
    border-radius: 10 px;
    opacity: 0.4;
}

.send {
    background: #5a98d0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.project {
    width: 1140px;
    margin: 0 auto;
}

.project__img {
    width: 100%;
}

.project__item {
    position: relative;
}

.project__item-margin {
    margin-right: 32px;
}

.project__parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.project__parent {
    position: relative;
    flex-grow: 1;
}

.project__parent-text {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #ffffff;
    position: absolute;
    top: 32px;
    left: 32px;
}

.project__text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #ffffff;
    position: absolute;
    top: 64px;
    right: 64px;
}

.footer {
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 114px;
}

.footer__info {
    display: flex;
    justify-content: space-around;
    margin-top: 64px;
}
.headermenu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}
.onepagetext {
    width: 425px;
}
.card {
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    background: #ffffff;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card-top {
    position: relative;
    align-self: center;
    width: 211.16px;
    height: 125.53px;
}

.card__img {
    align-self: center;
    margin-bottom: 51px;
}

.card-button {
    position: absolute;
    margin-bottom: 51px;
}

.card-box {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 64px;
    margin-bottom: 64px;
}

.footer__text {
    width: 495px;
}
.footer__heading {
    width: 340px;
    text-align: left;
    color: #fff;
    margin-bottom: 32px;
}

.text__footer {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    opacity: 0.6;
    color: #fff;
}

.footer__buttom {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
    background: #5A98D0;
    display: inline-block;
    padding: 15px 80px;
    align-self: center;
    margin: 165px 114px;
}

.footer__top {
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-info {
    display: flex;
    justify-content: space-around;
}
.map {
    width: 1140px;
    margin: 0 auto;
}

.hr {
    opacity: 0.4;
}

.footer__li {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 00.05em;
    color: #ffffff;
    flex-grow: 1;
    flex-basis: 33.3333%;
    list-style-type: none;
    display: flex;
    margin-right: 32px;
